*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
}
html,
body {
    font-family: sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}
.container {
    max-width: 1200px ;
    margin: 0 auto;
}
header {
    background-color: rgb(33, 4, 119);
    position: sticky;
    top: 0;
    z-index: 100;
 box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}
nav ul {
    display: flex;
    gap: 2rem;
}
.nav-logo {
    font-size: 2rem;
    font-style: italic;
    
}
nav ul li {
    border-bottom: 2px solid transparent;
    transition: 0.2s ease-in-out;
}
nav ul li:hover {
    border-bottom: 2px solid white;
    transition: 0.2s ease-in-out;
}
.hero-section {
    background-image: url(hero_image.png);
    height: 100vh;
    display: grid;
    color: white;
    place-items: center;
    text-align: center;
}
.hero-section .container {
    display:flex ;
    flex-direction: column
    ;
    gap: 20px;

}
.hero-section h1 {
    font-size: 3rem;

}
.hero-section h3 {
    font-size: 2rem;
}

button {
    padding: 10px 15px;
    border: none;
    transition: 0.2s ease-in-out;
    border-radius: 4rem;
    
}
button:hover {
    opacity: 0.8;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.primary-btn {
    background-color: rgb(188, 45, 45);
    color: aliceblue;
}
.primary-btn:hover {
    background-color: rgb(244, 101, 101);
}
.secondry-btn {
      background-color: rgb(71, 14, 176);
      color: aliceblue;
    
}

.music-section {
    padding-top: 40px;
    background-color: rgb(52, 12, 107);
}
.music-section .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: aliceblue;

}
.ipad-iphone-img {
    margin-top: -400px;
    position:relative ;
    top: 400px; }
    h4 {
        margin: 5rem;
    }


    .about-music {
        padding-top: 500px;
        display: grid;
        place-items: center;
        align-items: center;
        
        text-align: center;
        margin-top: 5px;

    }
    .mac-image {
        padding-top: 2rem;
        height: 100%;
        width: 100%;
    }

    .video-section {
        background-image: url(video.png);
        min-height: 800px;
        display: grid;
        place-items: center;
        color: aliceblue;
        align-items: center;
        text-align: center;
    }
   .video-section .container {
     display: flex;
     flex-direction:column ;
     gap: 30px;
     margin-top: -200px;
   }
   .hero-section, .video-section {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

   }


   .gift-section {
    display:flex;
    justify-content: center;
    margin: 100px 0 ;
    gap: 50px;

    
   }
   .gift-content {
    
    justify-content: center;
   display: flex;
   flex-direction: column;
   gap: 20px;
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
   }

   .footer-upper {
    background-color: rgb(42, 6, 170);
    padding: 20px;
   
   }
   .footer-links {
    text-align: center;
    
   }

   .footer-upper .container {
    display: flex;
    color: aliceblue;
      justify-content: space-between;
      
      
   }
  
   .footer-upper h4 {
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    margin-bottom: 12px;

    
   }

   .footer-lower {
    background-color: blue;
    padding: 20px;
    display: flex;
    justify-content: center;
    color: aliceblue;
  
   }
  